{% extends "layout.html" %}
{% block title %}Contract list{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
<!-- 업로드된 계약서를 보여준다 -->
{% block content %}
    <div class="col-md-12 row">
        <div class="col-md-12 valign-middle">
            <table class="table table-hover text-center" align="center">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>파일명</th>
                        <th>용량</th>
                        <th>올린날</th>
                        <th>수정/삭제</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contract in contracts %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ contract.filename_orig }}</td>
                        <td><span class="badge badge-success">{{ sizeof_fmt(contract.filesize) }}</span></td>
                        <td>{{ contract.upload_date.strftime('%Y-%m-%d %H:%M') }}</td>
                        <td>
                            <a class="btn btn-success btn-xs" href="javascript:update_contract_form('{{ url_for('alphalaw.update_contract_form', contract_id=contract.id)}}');">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a class="btn btn-warning btn-xs" href="javascript:remove('{{ url_for('alphalaw.remove', contract_id=contract.id)}}');">
                                <i class="fa fa-remove"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if pagination %}
    <div class="row" align="center">
        <div class="col-md-12">
            <p>
                {% from "_pagehelpers.html" import render_pagination %}
                {{ render_pagination(pagination) }}
            </p>
        </div>
    </div>
    {% else %}
    <!-- do nothing! -->
    {% endif %}
    <script type="text/javascript">

            function show(url){
                bootbox.alert("<a href='"+url+"' target='_blank' title='다운로드'><img src='"+url+"' style='width:100%;'></a>");
            }
            function remove(url){
                bootbox.confirm("삭제 하시겠습니까?", function(result) {
                    if(result == true){
                        window.location.href= url;
                    }
                });
            }
    </script>
{% endblock %}